<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="goBack()">
        <ion-icon name="caret-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="header-title">
        <ion-icon name="location-outline"></ion-icon>
        <span>Editer un lieu</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top">
  @if(loaded){
    <form [formGroup]="formGroup" novalidate>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-input
              label="Nom"
              formControlName="name"
              label-placement="stacked"
              fill="outline">
            </ion-input>
            
            @if(formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)){
              <ion-text color="danger">Le nom est requis</ion-text>
            }
          </ion-col>

          <ion-col size="6">
            <!--en faire un composant -->
            <div class="custom-datetime">
              <div class="custom-datetime-label">
                 <ion-label>Date</ion-label>
              </div>
             
              <ion-datetime-button datetime="datetime"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    id="datetime"
                    presentation="date"
                    formControlName="date"
                    [formatOptions]="{
                      date: {
                        weekday: 'short',
                        month: 'long',
                        day: '2-digit',
                        year: 'numeric'
                      },
                    }"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </div>       
          </ion-col>

          <ion-col size="6">
            <ion-input
              label="Altitude"
              formControlName="altitude"
              type="number"
              placeholder="0"
              label-placement="stacked"
              fill="outline">
              <ion-icon slot="start" name="trending-up-outline"></ion-icon>
            </ion-input>

            @if(formGroup.controls['altitude'].invalid && (formGroup.controls['altitude'].dirty || formGroup.controls['altitude'].touched)){
              <ion-text color="danger"><p class="ion-no-margin ion-margin-bottom text-xs ion-padding-start">L'altitude est requise</p></ion-text>
            }    
          </ion-col>

          <ion-col size="6">
             <ion-input
                label="Latitude"
                formControlName="latitude"
                type="number"
                label-placement="stacked"
                fill="outline">
                <ion-icon slot="start" name="navigate-outline"></ion-icon>
              </ion-input>

              @if(formGroup.controls['latitude'].invalid && (formGroup.controls['latitude'].dirty || formGroup.controls['latitude'].touched)){
                <ion-text color="danger"><p class="ion-no-margin ion-margin-bottom text-xs ion-padding-start">La latitude est requise</p></ion-text>
              }  
          </ion-col>

          <ion-col size="6">
             <ion-input
                label="Longitude"
                formControlName="longitude"
                type="number"
                label-placement="stacked"
                fill="outline">
                <ion-icon slot="start" name="navigate-outline"></ion-icon>
              </ion-input>

              @if(formGroup.controls['longitude'].invalid && (formGroup.controls['longitude'].dirty || formGroup.controls['longitude'].touched)){
                <ion-text color="danger"><p class="ion-no-margin ion-margin-bottom text-xs ion-padding-start">La longitude est requise</p></ion-text>
              }
          </ion-col>

          <ion-col size="6">
            <ion-select
              class="ion-margin-bottom"
              label="Type"
              formControlName="typeID"
              interface="popover"
              placeholder="-"
              fill="outline">

              @for(item of locationsType(); track item.name){
                <ion-select-option [value]="item.id">
                  {{item.name}}
                </ion-select-option>
              }
            </ion-select>
          </ion-col>

          <ion-col size="6">
            <ion-select
                class="ion-margin-bottom"
                label="Pays"
                formControlName="country"
                interface="popover"
                placeholder="-"
                fill="outline">

                @for(item of countries(); track item.name){
                  <ion-select-option [value]="item.id">
                    {{item.name}}
                  </ion-select-option>
                }
              </ion-select>
          </ion-col>
        </ion-row>

      </ion-grid>


      <div class="ion-display-flex ion-justify-content-between">
        @if(location.id != ""){
          <ion-button color="danger" [strong]="true" (click)="onDelete()">Supprimer</ion-button>
        }
        <ion-button [strong]="true" [disabled]="formGroup.invalid" (click)="onSubmit(formGroup.value)">Enregistrer</ion-button>
      </div>
    </form>
  }
  @else{
    <div class="loader-center">
      <ion-spinner name="dots"></ion-spinner>
    </div>
  }
</ion-content>
