ion-content {
  --padding-start: 10px;
  --padding-end: 10px;

  ion-grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 4px;
  }
  
  ion-col {
    padding-top: 10px;
    --ion-padding-top: 10px;
  }
}