<ion-content>
   
    <div class="loading-content">
        <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size="auto">
                <ion-icon name="compass" class="app-logo"></ion-icon>
            </ion-col>

            <ion-col size="auto">
                <ion-text class="travel-title loading-content__title">     
                    <span class="title-main">Travel</span>
                    <span class="title-accent">Locations</span>
                </ion-text>
            </ion-col>
        </ion-row>

        <ion-text color="light">
            <h2>Chargement en cours</h2>
            <span class="loading-content__dots">{{dots}}</span>
        </ion-text>
    </div>
</ion-content>
