<ion-header [translucent]="true">
  <ion-toolbar class="travel-header">
    <ion-buttons slot="start">
      <ion-icon name="compass" class="app-logo"></ion-icon>
    </ion-buttons>
    
    <ion-title class="travel-title">
      <span class="title-main">Mes</span>
      <span class="title-accent">Lieux</span>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
</ion-content>