<ion-header [translucent]="true">
  <ion-toolbar class="travel-header">
    <ion-buttons slot="start">
      <ion-icon name="compass" class="app-logo"></ion-icon>
    </ion-buttons>
    
    <ion-title class="travel-title">
      <span class="title-main">Mes</span>
      <span class="title-accent">Lieux</span>
    </ion-title>

    <ion-buttons slot="end">
      <app-auth-status></app-auth-status>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(objectEntries(groupLocation).length == 0){
    <p class="ion-margin">Aucun lieux</p>
  }
  
  <ion-accordion-group [animated]="false">
    @for(item of objectEntries(groupLocation); track item[0]){
      <ion-accordion value="{{item[0]}}">
        <ion-item slot="header" color="light">
          <ion-label><span class="material-icons ion-margin-end">{{item[1][0].typeIcon}}</span> <span>{{ item[1][0].typeName }}</span></ion-label>
        </ion-item>

        <div slot="content">
            <ion-list>
              @for(location of item[1]; track location.id)
              {
                <ion-item routerLink="/locations/{{location.id}}">                   
                    <ion-label>      
                      <div class="location-list__date">Le {{ location.date | timestampPipe }}</div>

                      <div class="location-list__title ion-display-flex ion-align-items-center ion-margin-bottom">
                         @if(location.imgUrl){
                            <img src="{{location.imgUrl | cloudinaryUrl}}" class="location-illustration" alt=""/>
                          }
                          @else{
                            <img src="../../../../assets/placeholder.webp" class="location-illustration" alt=""/>
                          }        
                        <span class="ion-margin-start ion-font-size-xl">{{location.name}}</span>
                      </div>

                      <div class="location-list__section">
                        <span class="material-icons ion-margin-end ">public</span>
                        <span class="ion-text-capitalize">{{ location.countryID | titlecase }}</span>
                      </div>

                      <div class="location-list__section">
                        <span class="material-icons ion-margin-end">location_on</span>
                        <span>{{location.latitude.toFixed(4)}} {{location.longitude.toFixed(4)}}</span>
                      </div>

                      <div class="location-list__section">
                        <span class="material-icons ion-margin-end">terrain</span>
                        <span>{{location.altitude ?? "-"}}</span>
                      </div> 
                    </ion-label>
                </ion-item>
              }               
          </ion-list>         
        </div>
      </ion-accordion>
    }
  </ion-accordion-group>
</ion-content>
