<ion-tabs>
   <ion-tab-bar slot="bottom">
      <ion-tab-button tab="map">
        <ion-icon name="map-outline"></ion-icon>
         <span>Carte</span>
      </ion-tab-button>

      <ion-tab-button tab="locations">
        <ion-icon name="list-outline"></ion-icon>
         <span>Lieux</span>
      </ion-tab-button>

      <ion-tab-button tab="profil">
         <ion-icon name="person-outline"></ion-icon>
         <span>Profil</span>
      </ion-tab-button>    
   </ion-tab-bar>  

   <ion-fab-button tab="" class="menu-btn-add" (click)="onActiveCreation()">
      <ion-icon name="add"></ion-icon>
   </ion-fab-button>   
</ion-tabs>
