ion-button.button--main {
    --background: linear-gradient(135deg, var(--color-f4a261), var(--color-e05e2f));
    --background-hover: var(--color-e05e2f);
    --background-activated: var(--ion-color-primary);
    --background-focused: var(--ion-color-primary);

    --color: white;

    --border-radius: 15px;
    --border-style: none;

    --box-shadow: var(--color-box-shadow);

    --padding-start: 40px;
    --padding-end: 40px;
    --padding-top: 17px;
    --padding-bottom: 17px;
    text-transform:none; 
    font-size: var(--font-size-base);
    font-family: var(--ion-font-family);
    font-weight: bold;
}