.card-title{
  font-family: var(--ion-font-family);
  font-size: var(--font-size-2xl);
  font-weight: bold;
  color: var(--color-2b3a4e);
}


.curren-text{
  font-family: var(--ion-font-family);
  font-size: var(--font-size-sm);
  color: var(--color-2b3a4e);
}