<ion-header [translucent]="true">
  <ion-toolbar class="travel-header">
    <ion-buttons slot="start">
      <ion-icon name="compass" class="app-logo"></ion-icon>
    </ion-buttons>

    <ion-title class="travel-title">
      <span class="title-main">Travel</span>
      <span class="title-accent">Locations</span>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>  
  <span class="wrapper-localisation text-xs ">
    <span class="ion-margin-end">Altitude : {{position?.coords?.altitude | number: '1.0-0'}}</span>
    <span class="ion-margin-end">Longitude : {{position?.coords?.longitude}}</span>
    <span class="ion-margin-end">Latitude : {{position?.coords?.latitude}}</span>
  </span>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="map"></div>
  
</ion-content>