ion-fab{
    right: 30px;
}


.btn-refresh{
  position: absolute;
  transform: translateY(0px);
}

.btn-add{
  position: absolute;
  transform: translateY(45px);
}

.btn-filters{
  position: absolute;
  transform: translateY(90px);
}

.btn-api-search-modal{
  position: absolute;
  transform: translateY(135px);
}